// Styling for the contact section
section#contact {
  background-image: url('../img/map-image.png');
  .section-heading {
    color: $white;
  }
}

section#privileges {
  background-image: url('../img/privileges-bg.jpg');
  .section-heading {
    color: $gray-900;
  }
  #privileges-group {
    height:300px;
    overflow-y: scroll;
  }
  #privileges-content {
    height: 390px;
    overflow-y: scroll;
    padding: 20px;
  }

  /*

  */
}

section#contact, #privileges {
  background-color: $gray-900;

  background-repeat: no-repeat;
  background-position: center;

  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
}
